.particles  {
    position: relative;
}

 .headerContainer {
    padding:0px;
    margin:0px;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1491956175078-460aea0914ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1550&q=80") center center;
    background-size:cover;
    width:99vw;
    height:100vh;
    display: flex;
    justify-content: center;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}

 .headerContent {
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}

.headerContent * {
    margin-bottom: 0.5rem;
}

.headerContent h1 {
    font-size: 6rem;
    color:rgb(255, 50, 50);
    text-decoration:underline;
    font-family: 'Dancing Script', cursive;
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.nav {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

@media (max-width: 1000px) { 
    .headerContent h1 {
        font-size: 3rem;

    }
 }  